<br>
<div class="row">
  <div class="container">
    <div class="row m-b-lg">
      <div class="col-lg-12">
      <div class="navy-line"></div>
        <h1 class="text-center">Documents</h1>
        <div class="panel panel-default">
          <div class="panel-body">
            <table class="footable table table-stripped default footable-loaded">
              <thead>
                <tr>
                  <th>#</th>
                  <th>เลขที่เอกสาร</th>
                  <th>เรื่อง</th>
                  <th>จาก</th>
                  <th>ความเร็ว</th>
                  <th>ส่งเอกสารเมื่อวันที่</th>
                  <th>สร้างเอกสารเมื่อวันที่</th>
                </tr>
              </thead>
              <tbody>
                <% @documents.each do |doc| %>
                  <tr>
                    <td><%= doc.id %></td>
                    <td><%= doc.number %></td>
                    <td><%= doc.title %></td>
                    <td><%= doc.department.short %> </td>
                    <td><%= doc.confidential.name %></td>
                    <td>#</td>
                    <td><%= doc.created_at %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="gray-section">
    <div class="container">
      <div class="row m-b-lg">
        <div class="col-lg-12 text-center">
          <div class="navy-line"></div>
          <h1>News</h1>

        </div>
      </div>
    </div>
  </div>
</div>
