<h2 class="text-center">รายละเอียดเอกสาร</h2>
<div class="col-lg-12">
  <div class="ibox product-detail">
    <div class="ibox-content">
      <div class="row">
        <!-- Document Info -->
        <div class="col-lg-8">
          <h2 class="font-bold m-b-xs">เรื่อง : <%= @document.title %></h2>
          <hr>
          <h4>รายละเอียดเอกสาร</h4>
          <div class="small">
            <%= @document.details %>
          </div>
          <div class="small m-t-md">
            <dt>เลขที่เอกสาร</dt>
            <dd><%= @document.number %></dd>

            <dt>ความเร็ว</dt>
            <dd><%= @document.confidential.name %></dd>

            <dt>ผู้สร้างเอกสาร</dt>
            <dd><%= @document.user.full_name %></dd>

            <dt>หมายเหตุ</dt>
            <dd><%= @document.remark %></dd>
          </div>
          <hr>
          <div class="btn-group">
            <%= link_to 'ย้อนกลับ', url_for(:back) , class: 'btn btn-danger' %>
          </div>
        </div>

        <!-- file details -->
        <div class="col-lg-4">
          <h2>ไฟล์แนบ</h2>
          <table class="table">
            <thead>
              <tr>
                <th>#</th>
                <th>ชื่อไฟล์</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% n = 0 %>
              <% @document.attachments.each do |att|  %>
              <tr>
                <td><%= n+=1 %> </td>
                <td><%= att.identifier %> </td>
                <td>
                  <%= link_to att.url , class: 'btn btn-primary btn-xs' , target: :_blank do %>
                    <i class="fa fa-cloud-download"></i>
                  <% end %>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <hr>
</div>
<!-- sented details -->
