<%= form_for @new do |news| %>
<div class="row">
  <div class="col-lg-6">
    <div class="form-group">
      <%= news.label :หัวข้อ , class: 'label-control'%>
      <%= news.text_field :title , class:'form-control'%>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="form-group">
      <%= news.label :อัพโหลดเอกสารไฟล์รูปภาพ , class:'label-control' %>
      <%= news.file_field :attachments , class: 'form-control' , multiple: true %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="form-group">
      <%= news.label :รายละเอียด , class: 'label-control'%>
      <%= news.text_area :details , class:'form-control' , rows: 5 %>
    </div>
  </div>
</div>
<br>
<div class="form-group">
    <%= news.submit 'บันทึกผล' , class: 'btn btn-info btn-rounded btn-block' %>
    <%= link_to 'ย้อนกลับ' ,  news_releases_path , class: 'btn btn-danger btn-rounded btn-block' %>
</div>
<% end %>
