<!DOCTYPE html>
<html>
  <head>
    <title>สำนักงานไปรษณีย์เขต 6</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'style', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'animate', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "bootstrap", "data-turbolinks-track" => true  %>
    <%= javascript_include_tag "bootstrap.min", "data-turbolinks-track" => true  %>
    <%= favicon_link_tag asset_path('thp.png') %>
    <%= stylesheet_link_tag 'style_2', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'bootstrap-dropdownhover.min', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "bootstrap-dropdownhover.min", "data-turbolinks-track" => true  %>
  </head>

  <body class="landing-page animated fadeIn" id="page-top" >
    <div class="container-fluid">
      <%= yield %>
    </div>
  </body>
</html>
