<!DOCTYPE html>
<html>
  <head>
    <title>สำนักงานไปรษณีย์เขต 6</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'style', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'animate', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "bootstrap", "data-turbolinks-track" => true  %>
    <%= javascript_include_tag "bootstrap.min", "data-turbolinks-track" => true  %>
    <%= favicon_link_tag asset_path('thp.png') %>
    <%= stylesheet_link_tag 'style_2', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'bootstrap-dropdownhover.min', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "bootstrap-dropdownhover.min", "data-turbolinks-track" => true  %>
  </head>

  <body class="landing-page animated fadeIn" id="page-top" >
    <div class="container-fluid">
      <!-- navbar -->
      <nav class="navbar navbar-inverse navbar-default">
        <div class="">
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" data-hover="data-hover">
            <ul class="nav navbar-nav">
              <li>
                <%= link_to documents_path do %>
                  <i class="fa fa-slack"></i> ส่วนต่าง ๆ
                <% end %>
              </li>
              <li>
                <%= link_to documents_path do %>
                  <i class="fa fa-folder-o"></i> งานสารบรรณ
                <% end %>
              </li>
              <li>
                <%= link_to documents_path do %>
                  <i class="fa fa-send-o"></i> รวมระบบงาน ปณท
                <% end %>
              </li>
              <li>
                <%= link_to documents_path do %>
                  <i class="fa fa-database"></i> รวมระบบงาน ปข.6
                <% end %>
              </li>
              <li>
                <%= link_to documents_path do %>
                  <i class="fa fa-book"></i> คู่มือการปฏิบัติงาน
                <% end %>
              </li>
              <li>
                <%= link_to documents_path do %>
                  <i class="fa fa-money"></i> รายได้ - รายจ่าย
                <% end %>
              </li>

              <% if user_signed_in? %>
                <li>
                  <%= link_to managements_path , class: 'page-scroll' do %>
                    <i class="fa fa-list"></i> การจัดการ
                  <% end %>
                </li>
                <li class="page-scroll">
                  <%= link_to class:'page-scroll' do %>
                    <i class="fa fa-user"></i><%= "ผู้ใช้งาน : "+current_user.full_name %>
                  <% end %>
                </li>
                <li class="page-scroll">
                  <%= link_to destroy_user_session_path , method: :delete do %>
                    <i class="fa fa-sign-out"></i> ลงชื่อออก
                  <% end %>
                </li>
                <% else %>
                <li>
                  <%= link_to new_user_session_path , class: 'page-scroll' do %>
                    <i class="fa fa-sign-in"></i> เข้าสู่ระบบ
                  <% end %>
                </li>
              <% end %>

            </ul>
          </div>
        </div>
      </nav>
      <%= yield %>
    </div>
  </body>
</html>
